<% content_for :title, "Editing Patient" %>

<div class="container mt-4">
  <h1>Editing Patient</h1>

  <%= render "form", patient: @patient %>

  <br>

  <div>
    <%= link_to "Show this patient", @patient, class: 'btn btn-info' %> |
    <%= link_to "Back to Patients", patients_path, class: 'btn btn-secondary' %>
  </div>
</div>
