<% content_for :title, "New Patient" %>

<div class="container mt-4">
  <h1 class="mb-4">New Patient</h1>

  <%= render "form", patient: @patient %>

  <br>

  <div>
    <%= link_to "Back to Patients", patients_path, class: 'btn btn-secondary' %>
  </div>
</div>
